body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    padding-top: 20px;
	padding-bottom: 20px;
}

.container {
    max-width: 730px;
}

.header {
    margin-bottom: 30px;
    padding-bottom: 20px;
	border-bottom: 1px solid #E5E5E5;
}

.header h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 40px;
}

.jumbotron {
	text-align: center;
}

.jumbotron h1 {
    font-size: 63px;
}

button {
	margin-top: 30px;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #E5E5E5;
}